/l1/exo1
/l1/exo1.o
/l1/exo2
/l1/exo2.o
/l1/exo3
/l1/exo3.o
/l2/src/sorting_algorithms/bubble.run
/l2/src/sorting_algorithms/mergesort.run
/l2/src/sorting_algorithms/qsort.run
/l2/src/triangular_matrix/triangular_matrix.run
/.project
/.metadata/
.idea/*
/*/.cproject
/*/.project
